<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <style>
    .dbl-border {
      width: 300px;
      list-style: none;
      margin: 0;
    }

    .dbl-border li {
      margin: 10px 0;
      position: relative;
    }

    .dbl-border a {
      width: 100%;
      color: #808285;
      text-decoration: none;
      border-left: 6px solid #ABC7EA;
      display: block;
      padding-left: 25px;
      height: 44px;
      line-height: 44px;
      font-size: 20px;
      position: relative;
      transition: 0.3s linear;
    }

    .dbl-border a:before {
      content: "";
      width: 6px;
      height: 70%;
      background: #EE997C;
      position: absolute;
      top: 15%;
      left: -12px;
    }

    .dbl-border li:before {
      content: "";
      width: 6px;
      height: 40%;
      background: #EFDD89;
      position: absolute;
      top: 30%;
      left: -12px;
    }

    .dbl-border a:hover {
      background: #D4D8D9;
    }
  </style>
  <title>Document | <%=title%>
  </title>
</head>

<body>
  <ul class="dbl-border">
    <%data.forEach(e=>{%>
      <li><a href="#">Элемент <%=e%></a>
      </li>
      <%})%>
  </ul>
</body>

</html>